final_model.keras filter=lfs diff=lfs merge=lfs -text
model/checkpoints/ffpp_best_20251214_000015_ft80_lr5e-06.keras filter=lfs diff=lfs merge=lfs -text
model/efficientnetb0_notop.h5 filter=lfs diff=lfs merge=lfs -text
